<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

    <input type="text" ng-model="my_model"> <br><br>
    <button ng-click="clickMe({'message':my_model})">Post Data</button>
    <br><br>
    <h1>{{result}}</h1>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.service("my_service",my_service);
        function my_service($http) {
            this.getData = function(obj){
                return $http.post("http://test-routes.herokuapp.com/test/uppercase",obj).then(function (posRes) {
                    return posRes.data.message;
                },function (errRes) {
                    return errRes;
                });
            };
        };

        app.controller("ctrl",ctrl);
        function ctrl($scope,my_service) {
            $scope.clickMe = function (obj) {
                my_service.getData(obj).then(function (res) {
                   $scope.result = res;
                });
            };
        };

    </script>
</html>