<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">


    <label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="text" ng-model="obj.uname">
    <br><br>
    <label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="obj.upwd">
    <br><br>
    <!--<button ng-click="login(uname,upwd)">Login</button>-->
    <!--<button ng-click="login({'uname':uname,'upwd':upwd})">Login</button>-->
    <button ng-click="login()">Login</button>


    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        function ctrl($scope) {

            /*$scope.login = function (arg1,arg2) {
                if(arg1 == "admin" && arg2 == "admin"){
                    alert("Login Success !");
                }else{
                    alert("Login Fail !");
                }
            };*/

            /*$scope.login = function (arg1) {
                if(arg1.uname == "admin" && arg1.upwd == "admin"){
                    alert("Login Success !");
                }else{
                    alert("Login Fail !");
                }
            };*/

            $scope.obj = {};

            $scope.login = function () {
                if($scope.obj.uname == "admin" && $scope.obj.upwd == "admin"){
                    alert("Login Success !");
                }else{
                    alert("Login Fail !");
                }
            };
        };
    </script>
</html>