<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <h1 ng-repeat="x in [10,20,30,40,50]">
        {{x}}....{{$index}}....{{$first}}...{{$last}}...{{$middle}}...{{$even}}...{{$odd}}
    </h1>

    &lt;!&ndash;
        $index -  used to return the indexes of an elements from an array

        $first - it will return first index as true

        $last - it will return last index as true

        ***$middle - it will return middle indexes of an array as true

        $even - it will return even positions of an array as true

        $odd - it will return odd positions of an array as true
    &ndash;&gt;

    <script src="bower_components/angular/angular.min.js"></script>
</html>-->



<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    <h1 style="color: red" ng-repeat="x in data">
        {{x}}
    </h1>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        function ctrl($scope) {
            $scope.data = ["AngularJS","Angular2","NodeJS","reactJS","MongoDB"];
        }
    </script>
</html>-->




<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">


    <table class="table table-responsive">
        <tr>
            <th>id</th>
            <th>ele item</th>
            <th>p cost</th>
        </tr>

        <tr ng-repeat="x in data">
            <td>{{x.p_id}}</td>
            <td>{{x.p_name}}</td>
            <td>{{x.p_cost}}</td>
        </tr>
    </table>


    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        function ctrl($scope) {
            $scope.data = [
                {"p_id":1,"p_name":"laptop","p_cost":50000},
                {"p_id":2,"p_name":"tv","p_cost":100000},
                {"p_id":3,"p_name":"smart tv","p_cost":200000},
                {"p_id":4,"p_name":"mobile","p_cost":10000},
                {"p_id":5,"p_name":"smart mobile","p_cost":20000}
            ];
        }
    </script>
</html>




































