<!--
<!DOCTYPE html>
<html lang="en" ng-app>

    <h1 style="color: red" ng-repeat="x in [10,20,30,40,50]">
        {{x}}...{{$index}}...{{$first}}...{{$last}}....{{$middle}}...{{$even}}...{{$odd}}
    </h1>

    <script src="bower_components/angular/angular.min.js"></script>
</html>-->


<!--<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

    <h1 style="color: red" ng-repeat="x in array">
        {{x}}
    </h1>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("ctrl",ctrl);
        function ctrl($scope) {
            $scope.array = ["AngularJS","Angular2","NodeJS","reactJS","MongoDB"];
        }
    </script>
</html>-->


<!--
<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr ng-repeat="x in array">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
        </tr>
    </table>
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("ctrl",ctrl);
        function ctrl($scope) {
            $scope.array = [{'id':1,'name':'Hello_1','age':20},
                            {'id':2,'name':'Hello_2','age':22},
                            {'id':3,'name':'Hello_3','age':24},
                            {'id':4,'name':'Hello_4','age':26},
                            {'id':5,'name':'Hello_5','age':28}];
        }
    </script>
</html>
-->


<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
    {{my_var}}
    {{my_fun()}}
    {{array}}
    {{obj}}

<script src="bower_components/angular/angular.min.js"></script>
<script>
    var app = angular.module("app",[]);
    app.controller("ctrl",ctrl);
    function ctrl($scope) {
        $scope.my_var = "Hello";

        $scope.my_fun = function () {
          return "Hello";
        };

        $scope.array = [10,20,30,40,50];

        $scope.obj = {'id':111,'name':'Hello_1'};
    }
</script>
</html>
















































