<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
	
	<label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
	<input type="text" ng-model="uname">

	<br><br>
	<label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
	<input type="password" ng-model="upwd">

	<br><br>
	<button ng-click="save({'uname':uname,'upwd':upwd})">Save</button>&emsp;&emsp;
	<button ng-click="read()">Read</button>&emsp;&emsp;
	<button ng-click="remove()">Delete</button>

	<br><br>
	<h1>{{result}}</h1>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("app",["ngStorage"]);
		
		app.controller("ctrl",ctrl);
		function ctrl($scope,$localStorage,$sessionStorage) {
			$scope.save = function(obj) {
				//store into local storage
				//$localStorage.class_data = obj;
				
				//store by using html5
				//window.localStorage.setItem("class_data",obj);
			
				$sessionStorage.class_data = obj;
			}
			
			$scope.read = function() {
				//read the data
				//$scope.result = $localStorage.class_data.uname+"..."+$localStorage.class_data.upwd;
			
				$scope.result = $sessionStorage.class_data.uname+"..."+$sessionStorage.class_data.upwd;
			};
			
			$scope.remove = function() {
				//delete the data
				//delete $localStorage.class_data;
				
				delete $sessionStorage.class_data;
				$scope.result = "";
				$scope.uname = "";
				$scope.upwd="";
				
				//delete the data by using html5
				//window.localStorage.removeItem("class_data");
			};
		}
	</script>
</html>